@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

* {
    scroll-behavior: smooth;
    transform-origin: center;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    color: black;
}

body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4,  body.dark-themeh5,
body.dark-theme h6, body.dark-theme p, body.dark-theme span, body.dark-theme a  {
    color: white;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0%;
    background: url(../images/bg-light.svg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark-theme {
    background: url(../images/bg-dark.svg);
}

h1 {
    margin: 0%;
}
aside {
    flex-shrink: 0;
    width: 16rem;
    height: 100vh;
    backdrop-filter: blur(5px);
    color: black;
    box-shadow: 0 0 5px black;
    z-index: 1;
}

body.dark-theme aside {
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
main {
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    
}

.name {
    font-size: 1.5rem;
    margin: 15px 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: flex;
    justify-content: flex-start;
}

li {
    list-style: none;
    text-decoration: none;
}

li svg, .skill-box svg {
    width: 2rem;
}

li svg:hover {
    transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
    transform: translate3d(0px, 0px, 0px) scale(1.1);
    filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
}

body.dark-theme li svg:hover {
    filter: invert(89%) sepia(67%) saturate(1730%) hue-rotate(359deg) brightness(109%) contrast(102%);   
}
nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0%;
    text-align: center;
}

nav li {
    padding: 15px;
    font-size: 1.25rem;
    transition: all 100ms ease-out;
}
nav li:hover {
    border-radius: 0 2rem 2rem 0;
    background: #eef;
    color: black;
}

body.dark-theme nav li:hover {
    background-color: #444;
    color: white;
}

.active{
    border-radius: 0 2rem 2rem 0;
    margin-right: -1rem;
    background: #eef;
    color: black;
}
body.dark-theme .active {
    background-color: #444;
    color: white;
}

.mobile-active {
    color: #04AA6D;
}

body.dark-theme .mobile-active {
    color: rgba(255, 255, 0, 1);
}

.theme-container {
    display: inline-flex;
    position: absolute;
    bottom: 5%;
    right: 1%;
    justify-content: flex-start;
}
.theme-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #00f4;
    border-radius: 20px;
}

body.dark-theme .theme-toggle {
    background-color: #ff04;
}

.theme-toggle:hover {
    transition: all 300ms ease-in;
    box-shadow: 1px 1px 10px #00f7;
}

body.dark-theme .theme-toggle:hover {
    box-shadow: 1px 1px 10px #ff07;
}

button{
    font-size: 1.25rem;
    background: transparent;
    border: 2px solid #6661;
    box-shadow: 0 0 1px #666;
    border-radius: 5px;
    width: auto;
    text-align: center;
    transition: all 500ms ease-in-out;
}

body.dark-theme button {
    border: 2px solid #555;
    box-shadow: 0 0 1px #888;
    color: white;
}

button:hover{
    box-shadow: -3px 3px rgba(128,128,128, 0.3);
    background: #04AA6D;
    position: relative;
    left: 1px;
    bottom: 1px;
}

body.dark-theme button:hover {
    color: black;
    background: #ff0;
}

button:active {
    transform: translate3d(-2px, 2px, 2px);
    box-shadow: none
}

.landing {
    height: 100vh;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    color: #222;
}

.sections {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    background: white;
    color: #000;
}

body.dark-theme .sections {
    background: #333;
}

.headings {
    font-size: 3rem;
    text-shadow: -0.10rem 0.10rem #6663, -0.15rem 0.15rem #6665, -0.2rem 0.2rem #6669;
    font-weight: 600;
    margin-bottom: 2rem;
    transition: all 300ms ease-in-out;
}

.sections:hover .headings{
    text-shadow: -0.15rem 0.15rem #04886D;
}

body.dark-theme .sections:hover .headings{
    text-shadow: -0.15rem 0.15rem rgba(255, 255, 0, 0.4);
}

.sections p {
    font-size: 1.5em;
    font-weight: 300;
}

.content-box, .projects {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

.content-box p {
    margin: 5px;
}

.skill-button {
    display: flex;
    flex: 1;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 0.25rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 10px #CCC;
    border-radius: 0.25rem;
}

body.dark-theme .skill-button {
    box-shadow: 0 0 10px #fff3;
}

.skill-button svg {
    margin-right: 10px;
    height: 2rem;
}

.skill-button:hover {
    box-shadow: 0px 0px 10px #666;
    
}

body.dark-theme .skill-button:hover {
    box-shadow: 0 0 10px #fff6;
}

.projects {
    flex-direction: row;
}

.project-heading {
    margin: 1rem 0rem;
}

.projects li {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
    border: 1px groove #9996;
    border-radius: 0.5rem;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

body.dark-theme .projects li {
    border: 1px groove #fff5;
}

.projects li:hover{
    transition: all 500ms ease-in-out;
    border: 1px groove #04AA6D;
}

body.dark-theme .projects li:hover{
    border: 1px groove #FC09;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0.25rem;
}

.tech li {
    border-radius: 50px;
    background-color: #6663;
    margin: 0.25rem;
    border: none;
}

body.dark-theme .tech li {
    background-color: #ccc7;
    color: white;
}

.tech li:hover {
    transition: all 300ms ease-in-out;
    border: none;
    background-color: #9999;
}

.dropdown {
    position: relative;
    margin: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.dropdown .bar {
    height:  3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

body.dark-theme .dropdown .bar {
    background-color: white;
}

.links-list {
    display: none;
}

.dropdown-links {
    display: none;
    position: absolute;
    width: 90vw;
    height: 50vh;
    background-color: #FFF;
    border: 1px groove #6665;
    border-radius: 10px;
    top: 25vh;
    left: 5vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #020b45;
    box-shadow: 0px 0px 0.5rem #0005;
    transform-origin: top;
}

body.dark-theme .dropdown-links {
    background-color: #000;
    box-shadow: 0 0 0.5rem #fff2;
}

.dropdown-links ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.dropdown-links svg {
    transform: scale(2);
    margin: 0.5rem;
}

.dropdown-links svg:hover {
    transform: scale(1.9);
}
.dropdown-links li {
    margin: 0.5rem;
}


footer {
    background-color: #6665;
    color: white;
    padding: 10px;
    width: auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer svg:hover {
    transition: all 700ms ease-in-out;
    transform: rotate(360deg);
}


@media screen and (max-width: 855px) {
    body {
        flex-direction: column;
        font-size: 1em;
    }
    .sections p {
        font-size: 1em;
        font-weight: 300;
    }
    .name {
        font-size: 1.25rem;
        margin: 0rem 0.25rem;
    }
    .landing h1 {
        font-size: 1.5rem;
    }
    .landing {
        height: 95vh;
    }
    main {
        width: 100vw;
        margin-top: 1rem;
        overflow-y: visible;
    }
    .sections {
        padding: 0.75rem;
        margin: 0.5rem;
    }
    
    .headings {
        font-size: 2rem;
        text-shadow: -0.10rem 0.10rem #6663, -0.15rem 0.15rem #6665, -0.2rem 0.2rem #6669;
    }
    
    .sections:hover .headings{
        text-shadow: -0.1rem 0.1    rem #04AA6D40;
    }

    body.dark-theme .sections:hover .headings{
        text-shadow: -0.15rem 0.15rem rgba(255, 255, 0, 0.2);
    }
    .sub-headings {
        font-size: 1.5rem;
    }
    aside {
        width: 100vw;
        height: auto;
        position: fixed;
        overflow: visible;
    }
    
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0%;
        padding: 0.5rem;
    }
    
    .theme-container {
        position:inherit;
        margin: 0rem 0.25rem;
    }
    nav ul{
        display: none;
        margin: 0%;
    }
    
    .links-list {
        display: inline;
    }
    
    .links {
        display: none;
    }
    
    .dropdown {
        display: flex;
    }
    
    .theme-container {
        transform: scale(0.9);
    }
    
    aside hr {
        display: none;
        transform: scale(0);
    }
    
    .projects li, .tech {
        width: 50vw;
    }
    
    .links-list:hover {
        filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
    }

    body.dark-theme .links-list:hover {
        filter: invert(89%) sepia(67%) saturate(1730%) hue-rotate(359deg) brightness(109%) contrast(102%);   
    }
}

@media screen and (min-width: 856px) {
    .dropdown {
        display: none;
    }

    .nav ul {
        display: flex;
    }
}