@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

* {
    scroll-behavior: smooth;
    transition: all 500ms ease-in-out;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0%;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside {
    flex-shrink: 0;
    width: 16rem;
    height: 94vh;
    background: #020b45;
    color: white;
    box-shadow: 0 32px 64px rgb(17 17 17 / 4%);
    z-index: 1;
    padding: 1.1rem 0rem;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
}

.name {
    font-size: 1.5rem;
    margin: 15px 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: flex;
    justify-content: flex-start;
}

li {
    list-style: none;
    text-decoration: none;
}

li img, .skill-box img {
    width: 2rem;
}

li img:hover {
    transform: scale(1.1);
    filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
}

nav ul {
    flex-direction: column;
    font-size: 1rem;
    padding: 0%;
    text-align: center;
}

nav li {
    padding: 15px;
}

nav li:hover{
    background: #fff;
    color: black;
    border-radius: 15px 0px 0px 15px;
}

.theme-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 0.5rem;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

button{
    font-size: 1.25rem;
    background: transparent;
    border: 2px solid #04AA6D;
    border-radius: 5px;
    width: auto;
    text-align: center;
    transition: all 500ms ease-in-out;
}

button:hover{
    box-shadow: -5px 5px rgba(128,128,128, 0.3);
    background: #04AA6D;
    position: relative;
    left: 3px;
    bottom: 3px;
}

button:active {
    transform: translate3d(-2px, 2px, 2px);
    box-shadow: none
}

.landing {
    height: 100vh;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    background: linear-gradient(180deg, #f5effc20, #fff);
}

.sections {
    padding: 1rem 2rem;
}

.headings {
    font-size: 3rem;
    text-shadow: -10px 10px rgba(128,128,128, 0.2);
    font-weight: 600;
    margin-bottom: 2rem;
    transition: all 300ms ease-in-out;
}

.sub-headings {
    font-size: 2rem;
    margin: 2rem 0%;
}

.sections:hover .headings{
    text-shadow: -12px 12px #04AA6D30;
}

.sections p {
    font-size: 1.5em;
    font-weight: 300;
}

.content-box, .projects {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

.content-box p {
    margin: 5px;
}

.skill-button {
    display: flex;
    flex: 1;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 0.25rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 10px #CCC;
    border-radius: 0.25rem;
}

.skill-button img {
    margin-right: 10px;
    height: 2rem;
}

.skill-button:hover {
    border: none;
}

.projects {
    flex-direction: row;
}

.project-heading {
    margin: 1rem 0rem;
}
.projects li {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
    border: 1px groove #9996;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

.projects li:hover{
    transition: all 500ms ease-in-out;
    border: 1px groove #04AA6D;
}

.tech {
    padding: 0%;
    margin: 0.25rem;
}

.tech li {
    border-radius: 50px;
    background-color: #6663;
    border: none;
}

.tech li:hover {
    transition: all 300ms ease-in-out;
    border: none;
    background-color: #9999;
}

.dropdown {
    position: relative;
    margin: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.dropdown .bar {
    height:  3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.links-reveal {
    position: absolute;
    backdrop-filter: blur(10px);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 855px) {
    body {
        flex-direction: column;
    }

    aside {
        transition: all 100ms ease-in-out;
        padding: 0rem;
        height: auto;
        width: 100vw;   
        overflow: hidden;
        position: fixed;
        top: 0%;
        z-index: 0;
    }

    main {
        width: 100vw;
    }

    .info {
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        margin: 0%;
    }

    .name {
        margin-right: 1rem;
    }

    .theme-toggle {
        display: inline;
        margin-right: 0%;
    }

    .theme-toggle img{
        position: relative;
        top: 0.5rem;
    }

    nav {
        display: inline-block;
    }
    
    aside hr{
        display: none;
    }

    nav ul {
        flex-direction: row;
        margin: 0%;
        margin-bottom: -5px;
    }

    nav li:hover{
        background: #fff;
        border-radius: 15px 15px 0px 0px;
    }

    .tech li {
        margin: 0.1rem;
    }
    .projects li {
        margin: 10px 2px;
    }
}

@media screen and (max-width: 530px) {
    .links-reveal img{
        filter: invert(100%) sepia(21%) saturate(7493%) hue-rotate(190deg) brightness(118%) contrast(106%);
    }

    .theme-toggle {
        padding-bottom: 0.5rem;
        float: right;
    }

    .dropdown {
        display: flex;
    }

    .links {
        display: none;
    }

    .sections {
        padding: 1rem 0.5rem;
    }
    
    .sections p {
        font-size: 1rem;
    }

    .tech li {
        margin: 0.1rem;
    }
    p, h1, h2 {
        font-size: 1rem;
    }


}